.header{
    margin-left:250px;
    margin-right:50px;
    /*margin-top:200px;*/
}
.dcdImg{
    position:absolute;
    left: 250px;
    top: 16px;
    width: 246px;
    height: 100px;
}
.input-div{
    margin-left: 260px;
    border-radius: 2px;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin-top: 25px;
    border: 2px solid rgb(255, 204, 50);
    height: 44px;
}
.input{
    width: 284px;
    height: 40px;
    line-height: 12px;
    padding: 0 10px;
    outline: 0;
    border: 0;
    font-size: 12px;
    box-sizing: border-box;
    appearance: none;
    float: left;
}
.button{
    line-height: 38px;
    font-size: 14px;
    border: 0;
    background-color: rgb(255, 204, 50);
    cursor: pointer;
    outline: none;
    float: right;
    width: 80px;
    border-radius: 0;
}
.black-bar {
    background-color: #15361b;
    height: 43px;
    line-height: 48px;
    border-radius: 4px;
    width: 900px;
    padding-left: 100px;
    margin-top: 8px;
}
.header a {
    text-decoration: none;
    color: #ffffff;
}
.homeTab {
    margin-left: 220px;
    font-size: 22px;
}
.videoTab {
    margin-left: 100px;
    font-size: 22px;
}
.myTab {
    margin-left: 210px;
    font-size: 22px;
}
